<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>derivAPITesting</title>
  </head>
  <body>
    <button type="submit">
      <a href="/login">Login</a>
    </button>
  </body>
</html>

<!-- https://oauth.deriv.com/oauth2/authorize?
acct1=CR6070540&token1=a1-ulJIueEFuPg0ySVWB4156dGysW4fp&cur1=USD&
acct2=CR5821193&token2=a1-e4WZhYEWsbiGrwn19jENuWP8YHiEG&cur2=BTC&
acct3=VRTC8583568&token3=a1-nnfuw66xlAHMPTB1EXEIW8VjUmt9T&cur3=USD&state= -->